body {
    min-height: : 300px;
  }
.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}
.overlay-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
